---

/* Returning to the home page if the database tables have been initialized AND
 * there is an admin account in the database.
 */
if(true)
{
	return Astro.redirect('/')
}

---

<div>

</div>

<style>

</style>