@import "./base.css";

:root {
	/* UWSP Style Guide Main Colors */
	--col-main-purple:      #512698;
	--col-main-gold:        #FFC82E;

	/* UWSP Style Guide Accent Colors (NO-TEXT) */
	--col-accent-green-nt:  #91AC3E;
	--col-accent-orange-nt: #F68B33;
	--col-accent-violet-nt: #A5A0CF;
	--col-accent-blue-nt:   #82B5BA;

	/* UWSP Style Guide Accent Colors */
	--col-accent-orange:  #FF3300;
	--col-accent-blue:    #007279;
	--col-accent-red:     #B61D22;
	--col-accent-brown:   #6D473B;

	/* Application Dark-Theme Colors */
	--col-body-light-100: #FFFFFF;
	--col-body-light-200: #ECECEC;
	--col-body-light-300: #C4C4C4;

	--col-text-light:     #1C1C1C;

	/* Application Light-Theme Colors */
	--col-body-dark-100:  #131313;
	--col-body-dark-200:  #252525;
	--col-body-dark-300:  #424242;
	--col-text-dark:      #F0F0F0;

	/* Application Length Variables */
	--len-navbar-height:    4.5rem;
	--len-sidebar-width:	30%;
}

body {
	display:          flex;
	flex-direction:   column;

	background-color: var(--col-body-dark-100);
	color:            var(--col-text-dark);
}

#app {
	flex: 1;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var(--col-body-light-100);
		color:            var(--col-text-light);
	}
}

.sr-only {
	position: absolute;
	width:    1px;
	height:   1px;
	padding:  0;
	margin:   -1px;
	overflow: hidden;
	border:   0;
}