@import "./base.css";

:root {
	/* UWSP Style Guide Main Colors */
	--col-main-purple:      #512698;
	--col-main-gold:        #FFC82E;

	/* UWSP Style Guide Accent Colors (NO-TEXT) */
	--col-accent-green-nt:  #91AC3E;
	--col-accent-orange-nt: #F68B33;
	--col-accent-violet-nt: #A5A0CF;
	--col-accent-blue-nt:   #82B5BA;

	/* UWSP Style Guide Accent Colors */
	--col-accent-orange:    #FF3300;
	--col-accent-blue:      #007279;
	--col-accent-red:       #B61D22;
	--col-accent-brown:     #6D473B;

	/* Application Custom Colors */
	--col-body-light:       #FFFFFF;
	--col-body-dark:        #101010;
}

body {
	display:        flex;
	flex-direction: column;
}

#app {
	flex:             1;

	background-color: white;
	color:            black;
}

@media (prefers-color-scheme: dark) {
	#app {
		background-color: var(--col-body-dark);
		color:            white;
	}
}

.sr-only {
	position: absolute;
	width:    1px;
	height:   1px;
	padding:  0;
	margin:   -1px;
	overflow: hidden;
	border:   0;
}