---
import '../styles/global.css';
---

<div class="hero">
	<slot/>
</div>

<style>
	.hero {
		width: 100%;
		min-height: 100svh;

		display: flex;
		justify-content: center;
		align-items: center;

		background-image: url("/full-screen-background.svg");
		background-size: cover;
		background-repeat: repeat;
	}
</style>